Repository lab-17/bragi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --cache --fix
'*.{js,css,md,yml,json}': prettier --write

build(gitpod): add gitpod support
  .gitpod.yml
  README.md
Due: prettier --write

Deploying to docs from @ 2e839b130d64c007d973205203ff6ad78c0dddf8 🚀
  3ceccde7.d326fa41.js
  404.html
  a8fea4b3.9079a82e.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.2f5e4591.js
Due: eslint --cache --fix, prettier --write

build(gitpod): fix badge gitpod url
  README.md
Due: prettier --write

build(npm-scripts): add missed folder in clear command and fix clear command name
  package.json
Due: prettier --write

Deploying to docs from @ 5fb3fbaa8246112a88b8e37dbf6125e6632791bd 🚀
  3ceccde7.1a1dd2b4.js
  404.html
  a8fea4b3.cbc0d434.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.f8b96706.js
Due: eslint --cache --fix, prettier --write

build(dev-deps): update yarn and development dependencies
  .yarn/releases/yarn-2.3.2.cjs
  .yarn/releases/yarn-2.3.3.cjs
  .yarnrc.yml
  package.json
  packages/bragi/package.json
  yarn.lock
Due: prettier --write

chore(yarn): remove mistake in documentation comment
  .yarnrc.yml
Due: prettier --write

chore(node): update node version
  .nvmrc
Due: none

Deploying to docs from @ fc7ad8641f541a1a396a4ade32cfecd8f4a841e8 🚀
  3ceccde7.0ecc9ec8.js
  404.html
  a8fea4b3.72188290.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.04f45ad8.js
Due: eslint --cache --fix, prettier --write

build(dev-deps): update dev tools and node version
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

Deploying to docs from @ 59ce5cfb70d7a7c15ff7823ba10d1ab835cbe392 🚀
  3ceccde7.084ace88.js
  404.html
  a8fea4b3.d1bf5a69.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  main.da8c71ff.js
  main.da8c71ff.js.LICENSE.txt
  runtime~main.88a90802.js
Due: eslint --cache --fix, prettier --write

add codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore: add codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

build(dev-deps): update
  .nvmrc
  package.json
  packages/bragi/package.json
  yarn.lock
Due: prettier --write

build(bragi): update build config
  packages/bragi/rollup.config.js
Due: eslint --cache --fix, prettier --write

chore(tests): add lcov to reports
  .nycrc.yml
  jest.config.js
Due: eslint --cache --fix, prettier --write

ci(actions): add codeql
  .github/workflows/codeql.yml
Due: prettier --write

refactor(bragi): implementation
  packages/bragi/src/bragi.ts
  packages/bragi/src/config.ts
  packages/bragi/src/index.ts
  packages/bragi/src/source.ts
  packages/bragi/src/types.ts
  packages/bragi/src/util/applier.ts
  packages/bragi/src/util/audio.ts
  packages/bragi/src/util/index.ts
  packages/bragi/src/util/object.ts
  packages/bragi/src/util/ponyfill.ts
  packages/bragi/src/util/runner.ts
  tests/client/bragi/bragi.spec.ts
  tests/server/bragi/bragi.spec.ts
Due: eslint --cache --fix

chore: update node versions
  .github/workflows/patterns.yml
  .github/workflows/release.yml
  .nvmrc
Due: prettier --write

ci(actions): fix node versions
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

Deploying to docs from @ f0d7841903b51e63dea20bf6b118ec315b3f0862 🚀
  15.0d7a454b.js
  17896441.f0b067bd.js
  1be78505.cfd2d2b8.js
  3ceccde7.34ecb706.js
  404.html
  860c984b.ace54dee.js
  8fff700c.32eee12c.js
  935f2afb.ec6ea25e.js
  969147af.5be969a9.js
  a6aa9e1f.2e32b51c.js
  a8fea4b3.d9989c11.js
  blog/index.html
  blog/todo/index.html
  ccc49370.a0a46d93.js
  common.fdcf33af.js
  common.fdcf33af.js.LICENSE.txt
  d2d661b7.b11759c8.js
  docs/todo/index.html
  index.html
  main.75b71a24.js
  main.75b71a24.js.LICENSE.txt
  runtime~main.795be6d2.js
  styles.35f5f749.css
  styles.5ee3d281.js
Due: eslint --cache --fix, prettier --write

ci(actions): remove node 12.x
  .github/workflows/patterns.yml
Due: prettier --write

Deploying to docs from @ 032c5096d18367b70ad27f4d41b470d6d78199ae 🚀
  3ceccde7.c58a7834.js
  404.html
  a8fea4b3.f44fa526.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.e1400b37.js
Due: eslint --cache --fix, prettier --write
