Repository lab-17/bragi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore(deps): remove unnecessary dependencies
  package.json
  yarn.lock
Due: prettier --write

Deploying to docs from @ e169f7358add7959a3c49883269bf61a5772b742 🚀
  assets/js/search.json
  classes/bragi.html
  globals.html
  index.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: prettier --write

refactor(bragi): reduce cognitive complexity from constructor
  src/bragi.ts
Due: eslint --cache --fix

Deploying to docs from @ a68909b39f9ade1fd40e8b132964fc1f141ef2c2 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(deps-dev): update @typescript-eslint
  package.json
  yarn.lock
Due: prettier --write

Deploying to docs from @ 8c568023eb436e5596c18e3bd558023d8a506142 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(dev-deps): update development dependencies
  package.json
  yarn.lock
Due: prettier --write

Deploying to docs from @ 17e278bcff74c8d879b9f9ccb17243a950722694 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(node): update node version
  .nvmrc
Due: none

Deploying to docs from @ db0932574c5b89780e0f1ec8a3e748df8ed596d0 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

Deploying to docs from @ 252effb15e923e82d8237b96818def82054802f5 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(dev-deps): replace typedoc with docusaurus, update dev-deps and scripts
  .browserslistrc
  babel.config.js
  docusaurus.config.js
  package.json
Due: eslint --cache --fix, prettier --write

chore: remove old files, move statics, improve some doc comments and preper project to monorepo
  .eslintignore
  .gitattributes
  .github/workflows/release.yml
  .gitignore
  .npmrc
  .nvmrc
  .nycrc.yml
  .prettierignore
  .vscode/settings.json
  README.md
  cypress.json
  e2e/plugins/index.ts
  e2e/plugins/istanbul.ts
  jest.config.js
  lerna.json
  rollup.config.js
  src/bragi.ts
  src/index.ts
  src/types.ts
  static/audio/LICENSE.md
  static/audio/algorithms-by-chad-crouch.mp3
  static/img/LICENSE.md
  static/img/favicon.ico
  static/img/logo.svg
  tests/client/bragi.spec.ts
  tests/server/bragi.spec.ts
  tsconfig.json
  typedoc.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

docs(init): add initial structure to documentation with docusaurus
  www/LICENSE.md
  www/blog/todo.mdx
  www/docs/todo.mdx
  www/src/custom.css
  www/src/pages/index.tsx
  www/src/sidebar.js
  www/tsconfig.json
Due: eslint --cache --fix, prettier --write

refactor(bragi): add new implementation to bragi
  packages/bragi/package.json
  packages/bragi/rollup.config.js
  packages/bragi/src/bragi.ts
  packages/bragi/src/config.ts
  packages/bragi/src/index.ts
  packages/bragi/src/source.ts
  packages/bragi/src/types.ts
  packages/bragi/src/util/audio.ts
  packages/bragi/src/util/index.ts
  packages/bragi/src/util/logger.ts
  packages/bragi/src/util/object.ts
  packages/bragi/src/util/ponyfill.ts
  packages/bragi/src/util/runner.ts
  tests/client/bragi/bragi.spec.ts
  tests/server/bragi/bragi.spec.ts
  tests/server/tsconfig.json
Due: eslint --cache --fix, prettier --write

style(prettier): update extensions included in prettier automatic formatting routine
  .prettierignore
  www/src/custom.css
Due: prettier --write

refactor(bragi): move runner interface to types.ts
  packages/bragi/src/types.ts
  packages/bragi/src/util/runner.ts
Due: eslint --cache --fix

refactor(docs): split the large react components into smallers
  www/src/pages/index.tsx
Due: none

Deploying to docs from @ ec9759344bab2e22090e008a960312e1ddb218c5 🚀
  14.dd187ed8.js
  17896441.64524fb7.js
  1be78505.42efdc8d.js
  3ceccde7.c28a45d0.js
  404.html
  860c984b.64aa06e6.js
  935f2afb.da7f4e98.js
  969147af.a31bd8cd.js
  a6aa9e1f.1c28854a.js
  a8fea4b3.bd503346.js
  audio/LICENSE.md
  audio/algorithms-by-chad-crouch.mp3
  blog/index.html
  blog/todo/index.html
  ccc49370.3905cdd2.js
  common.7a350f8e.js
  common.7a350f8e.js.LICENSE.txt
  d2d661b7.e2b874c4.js
  docs/todo/index.html
  img/LICENSE.md
  img/favicon.ico
  img/logo.svg
  index.html
  main.60961ba1.js
  main.60961ba1.js.LICENSE.txt
  runtime~main.29199fee.js
  sitemap.xml
  styles.7731013c.css
  styles.bc259766.js
Due: eslint --cache --fix, prettier --write

Deploying to docs from @ ec9759344bab2e22090e008a960312e1ddb218c5 🚀
  3ceccde7.b1d7a167.js
  404.html
  a8fea4b3.002683ae.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.62deb9c5.js
Due: eslint --cache --fix, prettier --write

chore(deps): update yarn and deps
  .yarn/releases/yarn-2.2.2.cjs
  .yarn/releases/yarn-2.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Deploying to docs from @ 14bf6bbe900dbf615259fcf4fb078d3f79203c82 🚀
  17896441.a068ba68.js
  1be78505.f6ec6555.js
  3ceccde7.18994613.js
  404.html
  a6aa9e1f.5aaadc96.js
  a8fea4b3.f9fa7533.js
  blog/index.html
  blog/todo/index.html
  ccc49370.a3b9dd98.js
  common.1be6e177.js
  common.1be6e177.js.LICENSE.txt
  d2d661b7.62cea677.js
  docs/todo/index.html
  index.html
  main.0e52751a.js
  main.0e52751a.js.LICENSE.txt
  runtime~main.d77b96c3.js
  styles.5fcb9083.css
Due: eslint --cache --fix, prettier --write

docs(readme): add new badges
  README.md
Due: prettier --write

build(ci): add new ci commands
  package.json
Due: prettier --write

build(cypress): disable video record
  cypress.json
Due: prettier --write

build(ci): update ci coverage commands
  .github/workflows/release.yml
Due: prettier --write

add required environment variables to cypress
  .github/workflows/release.yml
Due: prettier --write

build: add required environment variables
  .github/workflows/release.yml
Due: prettier --write

Deploying to docs from @ de694c6413fba338965aa4e573558639268a897d 🚀
  3ceccde7.a0cabc7b.js
  404.html
  a8fea4b3.6e875c97.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.d3dd7515.js
Due: eslint --cache --fix, prettier --write

build(eslint): fix eslint rules
  .eslintrc.yml
Due: prettier --write

build(cypress): improve missed types
  e2e/plugins/types.d.ts
Due: eslint --cache --fix

docs(docs): add types
  www/src/pages/index.tsx
Due: none

refactor: real implementation for logger
  packages/bragi/src/util/logger.ts
Due: eslint --cache --fix

refactor(bragi): global refactor
  packages/bragi/src/bragi.ts
  packages/bragi/src/config.ts
  packages/bragi/src/node.ts
  packages/bragi/src/source.ts
  packages/bragi/src/types.ts
  packages/bragi/src/util/audio.ts
  packages/bragi/src/util/object.ts
  packages/bragi/src/util/ponyfill.ts
  packages/bragi/src/util/runner.ts
Due: eslint --cache --fix

Deploying to docs from @ 039e41a558bbf8971142b059b65f58b081d761c6 🚀
  3ceccde7.bcc128be.js
  404.html
  a8fea4b3.9e5dfd86.js
  blog/index.html
  blog/todo/index.html
  docs/todo/index.html
  index.html
  runtime~main.ef889276.js
Due: eslint --cache --fix, prettier --write

build(npm-scripts): add clear commands
  package.json
Due: prettier --write

build(deps): upgrade yarn and development dependencies
  .yarn/releases/yarn-2.3.1.cjs
  .yarn/releases/yarn-2.3.2.cjs
  .yarnrc.yml
  package.json
  packages/bragi/package.json
  yarn.lock
Due: prettier --write

build(bragi): reduce depth of lib folder structure
  packages/bragi/rollup.config.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,css,md,yml,json}
