Repository lab-17/bragi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Deploying to docs from @ e1b7734293b5ab392e93100c32b404521bb96149 🚀
  .nojekyll
  assets/css/main.css
  assets/images/icons.png
  assets/images/icons@2x.png
  assets/images/widgets.png
  assets/images/widgets@2x.png
  assets/js/main.js
  assets/js/search.json
  classes/bragi.html
  globals.html
  index.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: eslint --cache --fix, prettier --write

chore(funding): add github funding
  .github/FUNDING.yml
Due: prettier --write

ci(actions): add cache in github actions
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

Revert "chore(next): update next"
  .github/FUNDING.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

ci(actions): changes the credential strategy for publishing docs
  .github/workflows/docs.yml
Due: prettier --write

Deploying to docs from @ 203e324697321124b96469ae9e599b2ce20c8b19 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

ci(actions): prevent double run to patterns workflow in branches master and next
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

Deploying to docs from @ 15f3017c9b3843eb5c66c1a5c6d49f27bfc0d453 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

ci(actions): unify release workflows
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

ci(actions): fix error in pre-publish coverage and change emojis #BlackLifesMatter
  .github/workflows/patterns.yml
  .github/workflows/release.yml
Due: prettier --write

Deploying to docs from @ 7a2a138142ef4bae6e8923d9281d9e760507cf3b 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(readme): add github action workflow badge
  README.md
Due: prettier --write

Deploying to docs from @ 2ba03c2e3c61a742be06ab460d75c476705f6ef3 🚀
  classes/bragi.html
  globals.html
  index.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(runtime): update Node.js version
  .nvmrc
Due: none

Deploying to docs from @ 77af0a794c46cd8be3650f310ad626c314546829 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(rollup): rollup configuration refactored
  .vscode/settings.json
  rollup.config.js
Due: eslint --cache --fix, prettier --write

chore(rollup): remove unused argument
  rollup.config.js
Due: eslint --cache --fix, prettier --write

Deploying to docs from @ d19293fc638acff92e68500284458d0380663ecb 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(funding): add organization to funding
  .github/FUNDING.yml
Due: prettier --write

chore(license): add Sobrado 17 copyright
  LICENSE.md
Due: prettier --write

chore(rollup): remove unnecessary console.log in rollup config
  rollup.config.js
Due: eslint --cache --fix, prettier --write

Deploying to docs from @ 29af3b4a2da8c85a2923ae08faeb5d37a0d8cca9 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(funding): change user funded
  .github/FUNDING.yml
Due: prettier --write

chore(funding): add organization in funding
  .github/FUNDING.yml
Due: prettier --write

chore(license): add organization copyright
  LICENSE.md
Due: prettier --write

Deploying to docs from @ 32b4421b1af72dd836b53427ee5e5ce05ae19183 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

Deploying to docs from @ e5f54983fd91d798d2fa7f973a67599963f81a58 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(vscode): vscode must hide configuration files
  .vscode/settings.json
Due: prettier --write

Deploying to docs from @ 3e3b87b935d6ef49c38c73614106dcc0b312e33b 🚀
  classes/bragi.html
  globals.html
  interfaces/bragicontroller.html
  interfaces/bragioptions.html
  interfaces/bragiponyfills.html
  interfaces/bragisourceoptions.html
Due: none

chore(tests): add cypress to client-side tests
  .codeclimate.yml
  .eslintignore
  .gitignore
  .huskyrc.yml
  .nycrc.yml
  .prettierignore
  .vim/coc-settings.json
  .vscode/settings.json
  .yarnrc.yml
  cypress.json
  e2e/plugins/index.ts
  e2e/plugins/istanbul.ts
  e2e/plugins/types.d.ts
  e2e/support/command.ts
  e2e/support/index.ts
  e2e/tsconfig.json
  jest.config.js
  package.json
  rollup.config.js
  tests/client/tsconfig.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore(nvmrc): update node version
  .nvmrc
Due: none

chore(vscode): hides config files
  .vscode/settings.json
Due: prettier --write

test: move tests to new structure
  tests/client/bragi.spec.ts
  tests/server/bragi.spec.ts
Due: eslint --cache --fix

chore(hooks): add pre-push routine
  .huskyrc.yml
Due: prettier --write

refactor(bragi): adjust the implementation for isomorphic execution
  src/bragi.ts
  src/types.ts
Due: eslint --cache --fix

refactor: simplifies window ponyfill
  src/bragi.ts
  src/types.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,css,md,yml,json}
